.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box; /* IMPORTANT */
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  margin: 0;
}


.header-title{
    flex-shrink: 0;
    margin-right: 30px;
}
.header-logo{
    height: 40px;
    width: auto;
    margin:0 30px;
    flex-shrink: 0;
}