.search-bar {
  display: flex;
  align-items: center;
  flex-grow: 1;
  max-width: 500px;
  margin: 0 20px;
}

.search-bar input {
  flex-grow: 1;
  padding: 8px;
  border: none;
  outline: none;
}

.search-bar button {
  padding: 8px 12px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
